<!--底部版权信息-->
<div class="footer-wrap">
    <div class="footer layout">
        <ul class="hz-ensure">
            <li class="hz-ensure-item">
                <p class=""><i class="icon-foot icon-1"></i></p>
                <strong>银保监会网销</strong><span class="pl10 fc9">营业认证</span>
            </li>
            <li class="hz-ensure-item"><p class=""><i class="icon-foot icon-2"></i></p><strong>1000+ 产品</strong><span
                    class="pl10 fc9">一站选购</span></li>
            <li class="hz-ensure-item"><p class=""><i class="icon-foot icon-3"></i></p><strong>100+ 保险公司</strong><span
                    class="pl10 fc9">授权合作</span></li>
            <li class="hz-ensure-item"><p class=""><i class="icon-foot icon-4"></i></p><strong>9+ 年保险服务</strong><span
                    class="pl10 fc9">专业更信赖</span></li>
            <li class="hz-ensure-item"><p class=""><i class="icon-foot icon-5"></i></p><strong>全程理赔协助</strong><span
                    class="pl10 fc9">理赔不再是难题</span></li>
        </ul>
        <!--hz-ensure end-->
        <div class="hz-server">
            <dl class="row01">
                <dt>新手指南</dt>
                <dd><a href="http://www.hzins.com/help/question-22" target="_blank" rel="nofollow" class="lk-f8">
                    金豆使用说明</a></dd>
                <dd><a href="http://www.hzins.com/help/" target="_blank" rel="nofollow" class="lk-f8">网站投保演示</a></dd>
                <dd><a href="http://www.hzins.com/help/question-23" target="_blank" rel="nofollow" class="lk-f8">
                    红包使用说明</a></dd>
                <dd><a href="http://www.hzins.com/product/prodreview/" target="_blank" class="lk-f8">产品问题大全</a></dd>
            </dl>
            <dl class="row02">
                <dt>理赔服务</dt>
                <dd><a href="http://www.hzins.com/claims/" target="_blank" class="lk-f8">理赔无忧</a></dd>
                <dd><a href="http://www.hzins.com/claims/case.html" target="_blank" class="lk-f8">典型理赔案例</a></dd>
                <dd><a href="http://www.hzins.com/help/question-47" target="_blank" class="lk-f8">各家保险理赔电话</a></dd>
            </dl>
            <dl class="row03">
                <dt>保单说明</dt>
                <dd><a href="http://www.hzins.com/help/questiondetail-149" target="_blank" rel="nofollow" class="lk-f8">保单寄送及说明</a>
                </dd>
                <dd><a href="http://www.hzins.com/help/questiondetail-155" target="_blank" rel="nofollow" class="lk-f8">保单变更说明</a>
                </dd>
                <dd><a href="http://www.hzins.com/help/questiondetail-131" target="_blank" rel="nofollow" class="lk-f8">退保说明</a>
                </dd>
            </dl>
            <dl class="row04">
                <dt>支付帮助</dt>
                <dd><a href="http://www.hzins.com/help/questiondetail-21" target="_blank" rel="nofollow" class="lk-f8">在线支付说明</a>
                </dd>
                <dd><a href="http://www.hzins.com/help/questiondetail-148" target="_blank" rel="nofollow" class="lk-f8">如何开通网上银行</a>
                </dd>
                <dd><a href="http://www.hzins.com/help/questiondetail-133" target="_blank" rel="nofollow" class="lk-f8">线下汇款说明</a>
                </dd>
            </dl>
            <dl class="row05">
                <dt>服务中心</dt>
                <dd><a href="http://www.hzins.com/about/about-khfw.aspx" target="_blank" rel="nofollow" class="lk-f8">在线客服</a>
                </dd>
                <dd><a href="http://www.hzins.com/insure/policyquery" target="_blank" rel="nofollow"
                       class="lk-f8">保单查询</a></dd>
                <dd><a href="http://files.hzins.com/static/long/AdbeRead_zh_CN.exe" target="_blank" rel="nofollow"
                       class="lk-f8">安装PDF阅读器</a></dd>
            </dl>
            <dl class="row06">
                <dt><img src="//images.hzins.com/short/www/seo/fhz.png" width="75" height="75" alt=""></dt>
                <dd>
                    <p class="mt10 fc6" style="margin-left: 8px;">移动端下载</p>
                </dd>
            </dl>
            <dl class="row07">
                <dt><img src="//images.hzins.com/short/www/seo/fhz.png" width="75" height="75" alt=""></dt>
                <dd>
                    <p class="ml15 mt10 fc6">微信投保</p>

                    <p class="pt5 fc6" style="margin-left: 8px;">扫码有惊喜</p>
                </dd>
            </dl>
            <dl class="row08 last-item">
                <dt><img src="//img.huizecdn.com/hz/www/page/hz-foot-logo.png" alt=""/></dt>
                <dd>
                    <p class="f24 diy-f30 hottel diy-font-color">4006-366-366</p>

                    <p class="mt5 hottel-tip">全国服务热线（7x24小时服务）</p>
                </dd>
            </dl>
        </div>
        <!--hz-server end-->
    </div>
    <!--footer end-->
</div>
<!--footer-wrap end-->
<div class="copyright tac diy-background">
    <p class="foot-nav">
        <a href="//www.hzins.com/about/about-about.html" target="_blank" data-content="|"> 关于慧择</a>
        <a href="//www.hzins.com/about/news-0.html" target="_blank" data-content="|">慧择动态</a>
        <a href="//www.hzins.com/about/akhfw.html" target="_blank" rel="nofollow" data-content="|"> 客户服务</a>
        <a href="//www.hzins.com/about/job.html" target="_blank" rel="nofollow" data-content="|">诚聘英才</a>
        <a href="//www.hzins.com/about/partners.html" target="_blank" data-content="|">友情链接</a>
        <a href="//www.hzins.com/about/contact.html" target="_blank" rel="nofollow" data-content="|">联系我们</a>
        <a href="//www.hzins.com/about/about-flsm.html" target="_blank" rel="nofollow" data-content="|">法律声明</a>
        <a href="//www.hzins.com/map/" target="_blank" data-content="|">网站地图</a>
        <a href="//website.hzins.com/" target="_blank" data-content="|">保险网址</a>
        <a href="//ap.hzins.com/" target="_blank" data-content="|">推广联盟</a>
        <a href="//www.hzins.com/about/jubao.html" target="_blank">公众举报</a>
    </p>
    <p class="mt5">
        <span>保险业务经营许可证：260957000000800</span>
        <span class="pl10">深圳市慧择保险经纪有限公司：440301105759096</span>
        <span class="pl10">粤ICP备11097712号</span>
        <span class="pl10">Copyright &copy;2006-<script>document.write((new Date()).getFullYear())</script></span>
        <span class="pl10">慧择保险经纪</span>
        <span class="pl10">版权所有</span>
    </p>
</div>
<!--copyright end-->