{% extends "_parent.html" %}

{% block link %}
<link rel="stylesheet" href="{{ resDomain }}/css/provision.css"/>
{% endblock link %}

{% block body %}
<!-- main begin -->
<div class="main ui-layout ui-category-table">
    <div class="ui-content">
        <div class="category-title clearfix">
            <h3><img src="{{bigLogoImg}}" class="ui-mr20" width="139" />{{companyMaterial.title}}</h3>
        </div>
        <div class="txcont">
            {{companyMaterial.content|safe}}
        </div>
    </div>
</div>
<!-- main end -->

<!-- 关闭页面按钮 begin -->
<div class="ui-close-page">
    <a href="javascript:window.close();" class="js-close"><i class="ui-icons icons-close"></i>关闭页面</a>
</div>
<!-- 关闭页面按钮 end -->

{% endblock %}
